---
import { Image } from 'astro:assets';
import earthImage from '../images/earth.png';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bababooey.world</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        overflow: hidden;
        background-color: #f5f5f5;
        font-family: "Lucida Console", Courier, monospace;
        position: relative;
      }

      .grid {
        display: grid;
        grid-template-rows: repeat(200, min-content);
        grid-auto-flow: row;
        gap: 0.25rem;
        padding: 0.5rem;
        height: 100vh;
      }

      .row {
        display: grid;
        grid-template-columns: repeat(50, auto);
        white-space: nowrap;
        font-size: clamp(0.8rem, 2.5vw, 1.5rem);
      }

      .row:nth-child(odd) {
        transform: translateX(-2rem);
      }

      .row:nth-child(even) {
        transform: translateX(-6rem);
      }

      .word {
        padding: 0.5rem;
        color: #333;
        user-select: none;
        opacity: 0.05;
        line-height: 0.5rem;
      }

      .word:hover {
        opacity: 1;
      }

      /* Fixed visible bababooey */
      .fixed-word {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
        z-index: 1;
        padding: 0.5rem;
        color: #333;
        font-size: clamp(3rem, 2.5vw, 1.5rem);
        pointer-events: none;
		display: flex;
		align-items: center;
		gap: 8px;
      }
    </style>
  </head>
  <body>
    <div class="fixed-word">
	 <div>bababooey</div><!-- <Image src={earthImage} alt="happy-earth" class="w-12 h-12 mt-3" /> -->
	</div>
    <div class="grid">
      {Array.from({ length: 200 }, () => (
        <div class="row">
          {Array.from({ length: 50 }, () => (
            <span class="word">bababooey</span>
          ))}
        </div>
      ))}
    </div>
  </body>
</html>
